@{
    ViewData["Title"] = "Home Page";
}

<div id="pspdfkit" style="width: 100%; height: 100vh;"></div>

<script src="/lib/pspdfkit/pspdfkit.js"></script>

<script>
	PSPDFKit.load({
		container: "#pspdfkit",
		document: "document.pdf",
	})
		.then(function(instance) {
			console.log("PSPDFKit loaded", instance);
		})
		.catch(function(error) {
			console.error(error.message);
		});
</script>
